<app-navbar></app-navbar>
<div class="btn-back">
  <button *ngIf="!view_user_id" class="btn-edit" style=" background-color: #F51E3C; color: white;" mat-flat-button (click)="backProfile(user_id)">Back</button>
  <button *ngIf="view_user_id && !admin_id" class="btn-edit" style=" background-color: #F51E3C; color: white;" mat-flat-button (click)="viewBackShowProfile(user_id, user_type, view_user_id)">Back</button>
  <button *ngIf="admin_id" class="btn-edit" style=" background-color: #F51E3C; color: white;" mat-flat-button (click)="adminBackShowProfile(admin_id, user_type, view_user_id)">Back</button>
  <!-- <button  *ngIf="view_user_id" class="btn-edit" style=" background-color: #F51E3C; color: white;" mat-flat-button (click)="adminBackShowProfile(user_id)">Back</button> -->
</div>
<div class="container"  *ngIf="!chartData || chartData.length >= 1; else emptyState" >
    <div class="row">
      <ng-container *ngFor="let postId of postIds">
        <div class="col-3">
          <div class="card-post">
            <img [src]="getPostImage(postId)" alt="">
          </div>
        </div>
        <div class="col-9">
          <div class="text">
            <h1>{{ getPostFirstName(postId) }} {{ getPostLastName(postId) }}</h1>
            <p> - post {{ postId }}</p>
          </div>
          <hr>
          <div class="graph">
            <canvas id="chart_{{ postId }}" width="400" height="200"></canvas>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #emptyState>
    <div class="container">
        <div class="empty-state" style="text-align: center; padding: 12rem;">
            <p style="font-size: 45px; font-weight: 500;">No graph data</p>
            <p style="font-size: 20px; margin-top: 2rem; font-weight: 300;">Please post a picture on your profile page and join the voting at the vote page.</p>
        </div>
    </div>
</ng-template>
  