<mat-toolbar>
    <div class="nav-left">
        <span>FaceMash</span>
    </div>
    <div class="nav-right">
        <button mat-flat-button *ngIf="user_type !== 'admin'" (click)="home()">Home</button>
        <button mat-flat-button *ngIf="user_type !== 'admin'" (click)="vote()" [ngClass]="{'active-icon': isButtonActive('/vote')}">Vote</button>
        <button mat-flat-button *ngIf="user_type !== 'admin'" (click)="ranking()" [ngClass]="{'active-icon': isButtonActive('/ranking')}">Ranking</button>
        <button mat-flat-button *ngIf="user_type !== 'admin'" (click)="profile()" [ngClass]="{'active-icon': isButtonActive('/profile') || isButtonActive('/edit-profile')}">My Profile</button>

        <button mat-flat-button *ngIf="user_type === 'admin'" (click)="adminHome()">Home</button>
        <button mat-flat-button *ngIf="user_type === 'admin'" (click)="adminViewUser()" [ngClass]="{'active-icon': isButtonActive('/admin-view-user') || isButtonActive('/show-user-profile')}">All Users</button>
        <button mat-flat-button *ngIf="user_type === 'admin'" (click)="adminViewRanking()" [ngClass]="{'active-icon': isButtonActive('/admin-view-ranking')}">All Ranking</button>
        <button mat-flat-button (click)="signup(user_id)" class="btn-login">{{ first_name ? first_name : 'Sign In' }}</button>

        
    </div>
  </mat-toolbar>