.container {
    width: 100%; /* กำหนดความกว้างให้เต็ม container */
}

.graph {
   width: 100%;
}

.canvas {
    width: 100%; /* กำหนดความกว้างให้เต็ม container */
    height: 200px; /* ให้ความสูงปรับตามสัดส่วนของความกว้าง */
}
