<app-navbar></app-navbar>
<div class="container">
    <div class="title-head">
        <div class="title-edit">
            <div class="edit">
                <p>Edit Profile</p>
            </div>
            <hr>
        </div>
    </div>
    <div class="btn-back">
        <button  class="btn-edit" style=" background-color: #F51E3C; color: white;" mat-flat-button (click)="backProfile(user_id)">Back</button>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="icon">
                <img *ngIf="icon" src="{{icon}}" alt="Profile Picture">
                <p *ngIf="!icon">No picture</p>
            </div>
        </div>
        <div class="col-7">
            <div class="card-head">
                <div class="card-name-about">
                 <div class="firstname">
                     <span>Firstname:</span>
                         <mat-form-field appearance="outline">
                           <mat-label>{{first_name}}</mat-label>
                           <input matInput placeholder="" type="text" #firstname>
                         </mat-form-field>
                         <div class="btn-firstname">
                             <button mat-flat-button  (click)="updateFirstname(firstname.value, user_id)">Edit</button>
                         </div>
                 </div>
                 <div class="lastname">
                     <span>Lastname:</span>
                     <mat-form-field appearance="outline">
                         <mat-label>{{last_name}}</mat-label>
                         <input matInput placeholder="" type="text"  #lastname>
                       </mat-form-field>
                       <div class="btn-lastname">
                        <button mat-flat-button (click)="updateLastname(lastname.value, user_id)">Edit</button>
                    </div>
                 </div>
                 <div class="lastname">
                     <span>Email:</span>
                     <mat-form-field appearance="outline">
                         <mat-label>{{email}}</mat-label>
                         <input matInput placeholder="" type="text"  #emailValue>
                       </mat-form-field>
                       <div class="btn-lastname">
                        <button mat-flat-button (click)="updateEmail(emailValue.value, user_id)">Edit</button>
                    </div>
                 </div>
                 <div class="lastname">
                     <span>Password:</span>
                     <mat-form-field appearance="outline">
                         <mat-label>{{password}}</mat-label>
                         <input matInput placeholder="" type="password" #passwordValue>
                       </mat-form-field>
                       <div class="btn-lastname">
                        <button mat-flat-button (click)="updatePassword(passwordValue.value, user_id)">Edit</button>
                    </div>
                 </div>
                 <div class="about">
                    <span>About:</span>
                    <mat-form-field>
                        <textarea matInput [(ngModel)]="about" #aboutTextarea></textarea>
                    </mat-form-field>
                    <div class="btn-about">
                        <button mat-flat-button (click)="updateAbout(aboutTextarea.value, user_id)">Edit</button>
                    </div>
                </div>
                </div>
                <div class="container-post">
                    <div class="list-post">
                        <div class="row">
                            <div class="list-post-body">
                                <div class="input-post">
                                    <input #fileInput type="file" (change)="UploadIcon($event, first_name, user_id)">
                                    <div class="file-input-overlay">
                                        <img src="{{icon}}" alt="">
                                        <p *ngIf="!icon">Insert Icon Here!</p>
                                    </div>
                                    <div class="input-post-body">
                                        <span>Icon</span>
                                        <button mat-flat-button class="btn-delete" style="background-color: #F51E3C; color: white;" (click)="deleteIcon(icon, user_id)">Delete</button>
                                    </div>
                                </div>
                                <div class="input-post">
                                    <input #fileInput type="file" (change)="UploadBanner($event, first_name, user_id)">
                                    <div class="file-input-overlay">
                                        <img *ngIf="banner" src="{{banner}}" alt="">
                                        <p *ngIf="!banner">Insert Banner Here!</p>
                                    </div>
                                    <div class="input-post-body">
                                        <span>Banner</span>
                                        <button mat-flat-button class="btn-delete" style="background-color: #F51E3C; color: white;" (click)="deleteBanner(banner, user_id)">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1>Post</h1>
                        <div class="list-post-body">
                            <div class="card-input">
                                <div *ngFor="let post of posts; let i = index" class="file-input-container">
                                    <div class="box">
                                        <input name="files[]" id="file{{i}}" class="box__file" data-multiple-caption="{count} files selected" multiple="" type="file" (change)="UploadPost($event, i, user_id, post.post_id, first_name)">
                                        <label for="file{{i}}" class="box__dragndrop" [style.backgroundImage]="'url(' + post.picture + ')'">
                                            <p>{{post.picture}}</p>
                                            <p *ngIf="post.post_id" style="text-align: center; font-size: 25px;">Post {{i+1}}</p>
                                            <p *ngIf="!post.post_id" style="font-size: 25px; display: flex; align-items: center; justify-content: center;">Insert Post</p>
                                            <div class="btn">
                                                <button *ngIf="post.post_id" mat-flat-button class="btn-edit"  style="background-color: #F51E3C; color: white;" (click)="deletePost(post.post_id, user_id)">Delete</button>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="add-box-container" style="max-width: 100%; max-height: 100%;">
                                    <button mat-flat-button style="width: 100%;height: 100%; background-color: #28C740; border-radius: 0;" (click)="addNewPost()">
                                        <span class="material-symbols-outlined" style="color:  white; font-size: 65px; text-align: center; margin-left: -1rem;">
                                        add_circle
                                        </span></button>
                                </div>
                                
                            </div>
                        </div>


                    </div>
                 </div>
            </div>
        </div>
    </div>

    <!-- <div class="file-input-container">
        <input name="files[]" id="file" class="box__file" data-multiple-caption="{count} files selected" multiple="" type="file">
        <label for="file" class="box__dragndrop">
            <strong>คลิกเพื่อเลือกไฟล์</strong>
            <span>หรือลากมาที่นี่</span>
        </label>
    </div>
</div> -->
