<!-- vote.component.html -->
<app-navbar></app-navbar>
<div class="container">
  <div class="title">
    <div class="title-vote">
      <div class="vote">
        <p>Vote</p>
       <mat-form-field class="setting-select">
        <mat-label>Set delay time</mat-label>
        <mat-select [(ngModel)]="timerDuration">
          <mat-option value="3000">3s</mat-option>
          <mat-option value="5000">5s</mat-option>
          <mat-option value="10000">10s</mat-option>
          <mat-option value="20000">20s</mat-option>
        </mat-select>
      </mat-form-field>
     
        
      </div>
      <hr>
    </div>
  </div>
  <div class="card-vote">
    <div class="col">
      <div *ngIf="show[0]" class="card-vote1"
         (click)="vote(show[0].post_id, show[1].post_id, 'left')">
        <div class="card-head">
          <div *ngIf="show[0]?.user_id">
            <div class="icon" *ngIf="!checkSignin"
              (click)="profile(show[0]?.user_id)">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/project-web-2-2.appspot.com/o/assets%2Fimg%2FiconRank%2Fperson-profile-image-icon.png?alt=media&token=3b2664ba-a62a-4b13-8c64-b23f316572ff"
                alt="Post Image" />
            </div>
            <div class="icon" *ngIf="checkSignin"
              (click)="profile(show[0]?.user_id)">
              <img *ngIf="show[0]?.icon" [src]="show[0].icon" alt="Post Image" />
              <img *ngIf="!show[0]?.icon" src="https://firebasestorage.googleapis.com/v0/b/project-web-2-2.appspot.com/o/assets%2Fimg%2FiconRank%2Fperson-profile-image-icon.png?alt=media&token=3b2664ba-a62a-4b13-8c64-b23f316572ff" alt="Post Image" />
            </div>
          </div>
          <span *ngIf="!checkSignin">Unknown Person</span>
          <span *ngIf="checkSignin">{{show[0].first_name}}
            {{show[0].last_name}}</span>
        </div>
        <img [src]="show[0].picture" alt="Post Image" />
      </div>
      <h1>OR</h1>
      <div *ngIf="show[1]" class="card-vote2"
      (click)="vote(show[1].post_id, show[0].post_id, 'right')">
        <div class="card-head">
          <div class="icon" *ngIf="!checkSignin"
            (click)="profile(show[1]?.user_id)">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/project-web-2-2.appspot.com/o/assets%2Fimg%2FiconRank%2Fperson-profile-image-icon.png?alt=media&token=3b2664ba-a62a-4b13-8c64-b23f316572ff"
              alt="Post Image" />
          </div>
          <div class="icon" *ngIf="checkSignin"
            (click)="profile(show[1]?.user_id)">
            <img *ngIf="show[1]?.icon" [src]="show[1].icon" alt="Post Image" />
            <img *ngIf="!show[1]?.icon" src="https://firebasestorage.googleapis.com/v0/b/project-web-2-2.appspot.com/o/assets%2Fimg%2FiconRank%2Fperson-profile-image-icon.png?alt=media&token=3b2664ba-a62a-4b13-8c64-b23f316572ff" alt="Post Image" />
          </div>
          <span *ngIf="!checkSignin">Unknown Person</span>
          <span *ngIf="checkSignin">{{show[1].first_name}}
            {{show[1].last_name}}</span>
        </div>
        <img [src]="show[1].picture" alt="Post Image" />
      </div>
    </div>
  </div>
  <div *ngIf="!checkSignin" class="title-end">
    <p class="material-symbols-outlined">warning</p>
    <p>Sign in to view the post owner's profile.</p>
  </div>
</div>
