<div class="container">
        <mat-stepper #stepper>
            <mat-step [stepControl]="firstFormGroup" errorMessage="Email is required.">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Search for Email</ng-template>
                <mat-form-field>
                  <mat-label>Search for Email</mat-label>
                  <input matInput placeholder="nani555@gmal.com" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" errorMessage="New Password is required.">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>New Password</ng-template>
                <mat-form-field>
                  <mat-label>New Password</mat-label>
                  <input matInput placeholder="New password" formControlName="secondCtrl"
                         required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper>
 </div>
