.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
}
.mat-stepper-horizontal {
    margin: auto;
    width: 800px;
    height: 300px;
    background-color: #f9f9fc;
    border-radius: 30px;
    padding: 2.5rem;
  }
  .mat-mdc-form-field {
    margin-top: 1.5rem;
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  button{
    border-radius: 11px;
  }